*, html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color:black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 5px;
  }

.navbar a {
    color: white;
    padding: 10px;
}

header {
    padding: 5px;
    margin: 40px 10px 10px 10px;
    font-size: 25px;
    text-align: center;
    background-color: lightcoral;
}

#main {
    background-color: rgb(226, 226, 226);
    margin: 30px 150px 0 150px;
    padding: 15px;
    text-align: center;
}

h2 {
    padding-bottom: 10px;
}